In [1]:
import pandas as pd

In [3]:
tlevisa = pd.read_csv('C:/Users/manuell/Videos/CienciaDatos_AN/televisa.csv')

In [4]:
tlevisa

              Date  TLEVISACPO.MX
0     January 2020      42.102604
1     January 2020      42.195892
2     January 2020      41.482212
3     January 2020      40.665909
4     January 2020      41.113712
...            ...            ...
1051  January 2024       9.600589
1052  January 2024       9.774794
1053  January 2024      10.578068
1054  January 2024      10.655492
1055  January 2024      10.452254

[1056 rows x 2 columns]

In [5]:
tlevisa2 = pd.read_csv('C:/Users/manuell/Videos/CienciaDatos_AN/televisa.csv', index_col ='Date')

In [6]:
tlevisa2

              TLEVISACPO.MX
Date
January 2020      42.102604
January 2020      42.195892
January 2020      41.482212
January 2020      40.665909
January 2020      41.113712
...                     ...
January 2024       9.600589
January 2024       9.774794
January 2024      10.578068
January 2024      10.655492
January 2024      10.452254

[1056 rows x 1 columns]

In [1]:
tlevisa.set_index('Date')

NameError: name 'tlevisa' is not defined