In [9]:
import numpy as np
import pandas as pd
import yfinance as yf 
from datetime import datetime

In [10]:
tickers = ['TSLA','AAPL', 'AMZN']

In [11]:
inicio = datetime(2020,1,1)
fin = datetime(2022,12,31)

In [30]:
matrizPrecios = pd.DataFrame()

In [31]:
data = yf.download(tickers, start=inicio, end=fin, interval='1mo', auto_adjust=False)['Adj Close']

[*********************100%***********************]  3 of 3 completed

In [32]:
data.columns

Index(['AAPL', 'AMZN', 'TSLA'], dtype='object', name='Ticker')

In [34]:
data

Ticker            AAPL        AMZN        TSLA
Date
2020-01-01   74.933746  100.435997   43.371334
2020-02-01   66.181664   94.187500   44.532665
2020-03-01   61.710850   97.486000   34.933334
2020-04-01   71.299080  123.699997   52.125332
2020-05-01   77.157372  122.118500   55.666668
2020-06-01   88.768951  137.940994   71.987335
2020-07-01  103.427521  158.233994   95.384003
2020-08-01  125.600266  172.548004  166.106674
2020-09-01  112.926186  157.436493  143.003326
2020-10-01  106.149254  151.807495  129.346664
2020-11-01  116.085503  158.401993  189.199997
2020-12-01  129.609116  162.846497  235.223328
2021-01-01  128.896027  160.309998  264.510010
2021-02-01  118.444458  154.646500  225.166672
2021-03-01  119.492111  154.703995  222.643326
2021-04-01  128.599518  173.371002  236.479996
2021-05-01  121.898567  161.153503  208.406662
2021-06-01  134.207413  172.007996  226.566666
2021-07-01  142.928543  166.379501  229.066666
2021-08-01  148.778595  173.539505  245.240005
2021-09-01  138.863922  164.251999  258.493347
2021-10-01  147.009277  168.621506  371.333344
2021-11-01  162.220535  175.353500  381.586670
2021-12-01  174.516251  166.716995  352.260010
2022-01-01  171.774261  149.573502  312.239990
2022-02-01  162.280380  153.563004  290.143341
2022-03-01  171.825806  162.997498  359.200012
2022-04-01  155.136215  124.281502  290.253326
2022-05-01  146.466705  120.209503  252.753326
2022-06-01  134.737640  106.209999  224.473328
2022-07-01  160.153671  134.949997  297.149994
2022-08-01  154.940384  126.769997  275.609985
2022-09-01  136.385376  113.000000  265.250000
2022-10-01  151.326569  102.440002  227.539993
2022-11-01  146.086288   96.540001  194.699997
2022-12-01  128.436676   84.000000  123.180000

In [37]:
adjclose = data.dropna()

In [38]:
data

Ticker            AAPL        AMZN        TSLA
Date
2020-01-01   74.933746  100.435997   43.371334
2020-02-01   66.181664   94.187500   44.532665
2020-03-01   61.710850   97.486000   34.933334
2020-04-01   71.299080  123.699997   52.125332
2020-05-01   77.157372  122.118500   55.666668
2020-06-01   88.768951  137.940994   71.987335
2020-07-01  103.427521  158.233994   95.384003
2020-08-01  125.600266  172.548004  166.106674
2020-09-01  112.926186  157.436493  143.003326
2020-10-01  106.149254  151.807495  129.346664
2020-11-01  116.085503  158.401993  189.199997
2020-12-01  129.609116  162.846497  235.223328
2021-01-01  128.896027  160.309998  264.510010
2021-02-01  118.444458  154.646500  225.166672
2021-03-01  119.492111  154.703995  222.643326
2021-04-01  128.599518  173.371002  236.479996
2021-05-01  121.898567  161.153503  208.406662
2021-06-01  134.207413  172.007996  226.566666
2021-07-01  142.928543  166.379501  229.066666
2021-08-01  148.778595  173.539505  245.240005
2021-09-01  138.863922  164.251999  258.493347
2021-10-01  147.009277  168.621506  371.333344
2021-11-01  162.220535  175.353500  381.586670
2021-12-01  174.516251  166.716995  352.260010
2022-01-01  171.774261  149.573502  312.239990
2022-02-01  162.280380  153.563004  290.143341
2022-03-01  171.825806  162.997498  359.200012
2022-04-01  155.136215  124.281502  290.253326
2022-05-01  146.466705  120.209503  252.753326
2022-06-01  134.737640  106.209999  224.473328
2022-07-01  160.153671  134.949997  297.149994
2022-08-01  154.940384  126.769997  275.609985
2022-09-01  136.385376  113.000000  265.250000
2022-10-01  151.326569  102.440002  227.539993
2022-11-01  146.086288   96.540001  194.699997
2022-12-01  128.436676   84.000000  123.180000